:root {
	box-sizing: border-box;

	--ff: "Rubik", sans-serif;
	--fs: 1.125rem;
	--fw-sm: 400;
	--fw-md: 500;
	--SoftBlue: hsl(231, 69%, 60%);
	--SoftRed: hsl(0, 94%, 66%);
	--GrayishBlue: hsl(229, 8%, 60%);
	--VeryDarkBlue: hsl(229, 31%, 21%);
}
*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
body {
	font-family: var(--ff);
	font-size: var(--fs);
	line-height: 1.5;
	background-color: var(--SoftBlue);
}
a {
	text-decoration: none;
}
button {
	border: 0;
	background-color: transparent;
}
img {
	max-width: 100%;
	height: auto;
}
ul {
	list-style: none;
}
#app {
	max-width: 1440px;
	margin-inline: auto;
	background-color: #fff;
}
main{
	margin-top: 2em;
}
// !hero section
.hero__graphic {
	position: relative;
	text-align: center;
}
.hero__graphic::after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: var(--SoftBlue);
	width: 80%;
	height: 80%;
	border-radius: 150em 0 0 150em;
	z-index: 1;
}
@media (min-width: 48em) {
	.hero__graphic::after {
		width: 70%;
	}
}
.hero__graphic img {
	position: relative;
	z-index: 2;
}
.hero__content {
	display: grid;
	grid-template-columns: 0.1fr 1.8fr 0.1fr;
	grid-template-rows: auto;
	text-align: center;
	margin: 3em 0 2em;
}
.hero__content > * {
	grid-column: 2;
}
.heading {
	color: var(--VeryDarkBlue);
	font-weight: var(--fw-md);
}
.heading--main {
	font-size: clamp(1.8rem, 7vw, 3rem);
	max-width: 500px;
	margin-inline: auto;
}
.description {
	color: var(--SoftBlue);
	margin: 1em 0 2em;
	max-width: 500px;
	margin-inline: auto;
	font-size: 1rem;
}
.cta__wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;
	flex-wrap: wrap;
}
// !buttons
.cta {
	font-size: 0.9rem;
	padding: 0.85em 1.4em;
	border-radius: 3px;
	transition: all 500ms linear;

}
.cta--prim {
	color: #fff;
	background-color: var(--SoftBlue);
	border: 2px solid transparent;

	&:hover {
		color: var(--SoftBlue);
		border-color: var(--SoftBlue);
		background-color: transparent;
	}
}
.cta--alt {
	color: var(--VeryDarkBlue);
	box-shadow: 0px 1px 5px 0 var(--GrayishBlue);
	border: 2px solid transparent;
	&:hover {
		border-color: var(--VeryDarkBlue);
	}
}

// ! GENERAL SYLES FOR FEATURES, EXTENSION AND FAQ SECTION
.section {
	display: grid;
	grid-template-columns: 0.1fr 1.8fr 0.1fr;
	grid-template-rows: repeat(2, auto);
}
.section--features {
	display: grid;
	grid-template-columns: 0.1fr 1.8fr 0.1fr;
	grid-template-rows: repeat(2, auto);
	margin-top: 6.5em;
}
.section--extensions, .section--faq {
	margin-top: 5.5em;
}
.section__content {
	grid-column: 2;
	grid-row: 1;
	text-align: center;
}
.heading--sec {
	font-size: clamp(1.5rem, 5vw, 2rem);
}
//! 11111111111111111111111111111111111111111111111111111111111111111
.section__tab{
  grid-column: 1/-1;
  grid-row: 2;
	display: grid;
	grid-template-columns: 0.1fr 1.8fr 0.1fr;
	grid-template-rows: repeat(2, auto);
  margin-top: 1em;
	text-align: center;

}
// 11111111111111111111111111111111111111111111111111111111111111111
// ! STYLES SPECIFIC TO FEATURES
.tab {
	grid-column: 2;
	grid-row: 1;
	border-top: 1px solid var(--GrayishBlue);
	border-bottom: 1px solid var(--GrayishBlue);
}
.tab__item + .tab__item {
	border-top: 1px solid var(--GrayishBlue);
}
.tab__item {
	position: relative;
	display: flex;
	flex-direction: column;
}
.tab__btn {
	display: inline-block;
	padding: 2em 1.2em;
	cursor: pointer;
	font-size: 1rem;
	color: var(--VeryDarkBlue);
	transition: all 500ms linear;
	&:hover {
		color: var(--SoftRed);
	}
}
.tab__btn--active {
	font-weight: var(--fw-md);
}
.tab--active {
	position: absolute;
	bottom: 0;
	background-color: var(--SoftRed);
	height: 0.2em;
	width: 6em;
	align-self: center;
	transition: all .3s linear;
}
// 11111111111111111111111111111111111111111111111111111111111111111
.tab__components{
  grid-column: 1/-1;
  grid-row: 2;
  margin-top: 4em;

}
.tab__component{
  display: grid;
	grid-template-columns: 0.1fr 1.8fr 0.1fr;
	grid-template-rows: auto auto;
  text-align: center;
}
.tab__component__graphic {
  position: relative;
  grid-column: 1/-1;
  grid-row: 1;
  padding: 1em;
}
.tab__component__graphic img {
	position: relative;
	z-index: 2;
}
.tab__component__graphic::before{
  content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: var(--SoftBlue);
	width: 80%;
	height: 80%;
	border-radius: 0 150em 150em 0;
	z-index: 1;
}
.tab__component__content {
  margin-top: 2.5em;
  grid-column: 2;
  grid-row: 2;
}
// ! STYLES SPECIFIC TO EXTENTION
.extension__container {
	grid-column: 2;
	grid-row: 2;
	display: grid;
	grid-template-columns: repeat(auto-fit,  250px);
	grid-template-rows: auto;
	align-items: start;
	justify-content: center;
	grid-gap: 2em;
	margin-top: 1.5em;
}
.extension {
	text-align: center;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
	padding: 2em 1em 1em;
	border-radius: 10px;
}
.extension--firefox{
	align-self: center;
}
.extension--opera{
	align-self: end;
}
.extension__icon{
	margin-bottom: 1em;
}
.extension--description{
	color: var(--SoftBlue);
}
.extension__bg{
	margin: 1.2em 0;
	background-image: url(assets/bg-dots.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: .2em;
}
.cta--extension{
	display: block;
	width: 100%;
	font-size: .9rem;
}
// ! STYLES SPECIFIC TO FAQ
.accordion__container{
	grid-column: 2;
	grid-row: 2;
	max-width: 500px;
	width: 100%;
	margin-inline: auto;
}
.accordion{
	border-bottom: 1px solid var(--GrayishBlue);
}
.accordion__btn{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.5em 0;
	font-size: 1rem;
	cursor: pointer;
	transition: all 500ms linear;
	&:hover {
		color: var(--SoftRed);
	}
}
.accordion__btn ~ .accordion__btn {
	border-top: 1px solid var(--GrayishBlue);
}
.accordion__btn__icon img {
	transition: all .3s linear;
}
.accordion__btn--active{
	border-bottom: 1px solid var(--GrayishBlue);
}
.accordion__icon--active{
	transform: rotate(180deg);
	filter: hue-rotate(100deg) contrast(2);
}

.faq__btn{
	width: 8em;
	display: block;
	margin: 3em auto 0;
	text-align: center;
}
// ! SUBSCRIBE
.subscribe {
	display: grid;
	grid-template-columns: 0.1fr 1.8fr 0.1fr;
	grid-template-rows: auto;
	background-color: var(--SoftBlue);
	padding: 3em 0;
	margin-top: 5em;
}
.inner__subscribe{
	grid-column: 2;
	grid-row: 1;
	max-width: 450px;
	margin-inline: auto;
	text-align: center;
}
.heading--sub{
	color: #fff;
	font-size: .7rem;
	letter-spacing: 5px;
	text-transform: uppercase;
}
.description--sub{
	color: #fff;
	font-size: clamp(1.6rem, 7vw, 2rem);
	margin: .4em 0 1em;
}
.form__group{
	position: relative;
	margin-bottom: 1em;
}
.form__group--err{
	padding: .2em .2em 1.6em;
	background-color: var(--SoftRed);
	border-radius: 5px 5px 10px 10px;
}
.form__control{
	width: 100%;
	background-color: #fff;
	padding: 1em 2em;
	border-radius: 5px;
	text-align: left;
	border: 0;
	font-size: 1rem;
}
.form__control::placeholder{
	color: var(--GrayishBlue);
}
.form__err__msg{
	position: absolute;
	color: #fff;
	font-size: .7rem;
	padding: .5em .5em 0;
	font-style: italic;
}
.form__err__icon{
	position: absolute;
	top: 18%;
	right: 1em;
}
.submitBtn	{
	padding: .9em 1.7em;
	font-size: 1rem;
	width: 100%;
	background-color: var(--SoftRed);
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	border: 2px solid transparent;
	transition: all 500ms linear;
	&:hover {
		color: var(--SoftRed);
		border-color: var(--SoftRed);
		background-color: #fff;
	}
}
// !FOOTER
footer{
	display: grid;
	grid-template-columns: 0.1fr 1.8fr 0.1fr;
	grid-template-rows: auto auto;
	padding: 3em 0 1em;
	color: #fff;
	background-color: var(--VeryDarkBlue);
}
.inner__footer{
	grid-column: 2;
	grid-row: 1;
	text-align: center;
	margin-bottom: 1.6em;
}
.logo--footer{ 
	filter: invert(1)  brightness(2)  invert(.3) invert(1) brightness(2) saturate(9) contrast(9); 
}
.nav__bar--footer{
	margin: 1.8em 0em;
}
.nav__link--footer{
	display: inline-block;
	font-size: 1rem;
	padding: .6em;
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: all 500ms linear;
	color: #fff;
	&:hover {
		color: var(--SoftRed);
	}
}
.nav__bar--social{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2em;
}

.nav__bar--social img {
	transition: all .1s linear;
}
.nav__bar--social img:hover {
	filter: brightness(.5) invert(1) sepia(1) saturate(7) hue-rotate(300deg);
}
.attribution {
	font-size: 11px;
	text-align: center;
	grid-column: 2;
	grid-row: 2;
	@media (min-width: 62em){
		text-align: right;
	}
	a {
		color: var(--SoftBlue);
	}
}
// ! MEDIA QUERY
// 768px
@media (min-width: 48em) {
	.tab__component__graphic::before{
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: var(--SoftBlue);
		width: 70%;
		height: 80%;
		border-radius: 0 150em 150em 0;
	}
}
// 933px
@media (min-width: 58.3125em){
	.extension__container{
		max-width: 900px;
		height: 400px;
		margin-inline: auto;	
	}
}
// 992px
@media (min-width: 62em) {
	.hero {
		display: grid;
		grid-template-columns: 0.1fr 0.9fr 1.1fr 0.1fr;
		align-items: center;
		justify-content: space-between;
		grid-gap: 1em;
		grid-template-rows: 80vh;
	}
	.hero__graphic {
		grid-column: 3/-1;
		grid-row: 1;
	}
	.hero__content {
		grid-column: 2;
		grid-row: 1;
		text-align: left;
		display: block;
		margin: 0;
		align-self: center;
	}
	.heading--main {
		font-size: clamp(2.4rem, 4vw, 3rem);
		line-height: 1.2;
	}
	.description {
		color: var(--SoftBlue);
		margin: 1em 0 2em;
		max-width: 450px;
		margin-inline: 0;
		font-size: 0.95rem;
	}
	.cta__wrapper {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 1em;
		flex-wrap: wrap;
	}
  .description--features {
		color: var(--SoftBlue);
		margin: 1em auto 2em;
		font-size: 0.95rem;
		max-width: 455px;
	}
  .tab {
		border-top: none;
    border-bottom: 1px solid var(--GrayishBlue);
    display: inline-flex;
    margin-inline: auto;
  }
  .tab__item + .tab__item {
		border: none;
  }
  .tab__btn {
    font-size: 1rem;
  }
  .tab--active {
		width: 100%;
    height: 0.25em;
  }
	.tab__components{
		margin-top: 1em;
	}
	.tab__component{
		display: grid;
		grid-template-columns: 0.1fr 1fr 1fr 0.1fr;
		grid-template-rows: auto;
		align-items: center;
		grid-gap: 1em;
		position: relative;
		padding: 3em 0;
	}	
	.tab__component::before{
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: var(--SoftBlue);
		width: 40%;
		height: 80%;
		border-radius: 0 150em 150em 0;
	}
	.tab__component__graphic{
		grid-column: 2;
		grid-row: 1;
		padding: 0;
	}
	.tab__component__graphic img {
		grid-column: 2;
		width: 100%;
	}
	.tab__component__graphic::before{
		display: none;
	}
	.tab__component__content{
		grid-column: 3;
		grid-row: 1;
		text-align: left;
		padding-left: 3em;
		margin: 0;
	}
	.description--tab{
		max-width: 380px;
	}

	.accordion{
		border-top: 1px solid var(--GrayishBlue);
	}
	.subscribe {
		padding: 4em 0;
	}
	.form{
		display: flex;
		align-items: flex-start;
		gap: .8em;
		font-size: .95rem;
	}
	.description--sub{
		margin: .6em 0 1em;
	}
	.form__group{
		margin-bottom: 0em;
		flex: 2;
	}
	.submitBtn{
		width: initial;
	}
	.inner__footer{
		display: flex;
		align-items: center;
		gap: 3em;
	}
	.nav__bar--footer{
		display: flex;
		align-items: center;
		gap: 2em;
		margin: 0;
	}
	.nav__bar--social{
		margin-left: auto;
	}
}
// 1100px
@media (min-width: 68.75em) {
	.tab__component__content{
		padding-left: 5em;
	}
}
// 1200px
@media (min-width: 75em) {
	.hero {
		grid-template-columns: 0.2fr 0.8fr 1fr 0.2fr;
	}
	.heading--main {
		font-size: clamp(2.8rem, 3.5vw, 3rem);
		line-height: 1.2;
	}
	footer {
		grid-template-columns: 0.2fr 1.6fr 0.2fr;
	}
}
